[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
pandas = "*"
openpyxl = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
scrapy = "*"
requests = "*"
robobrowser = "*"

[dev-packages]

[requires]
python_version = "3.9"
